@model Detai.Models.single

@{
    ViewBag.Title = Model.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row fh5co-post-entry single-entry">
        <article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
            <figure class="animate-box">
                <img src="~/Content/images/@Model.img" alt="Image" class="center">
            </figure>
            <h2 class="fh5co-article-title animate-box">@Model.name</h2>
            <span class="fh5co-meta fh5co-date animate-box">@Model.datebegin</span>
            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                <div class="row">
                    <div class="col-lg-12 animate-box" style="text-align:center;">
                        <div class="fh5co-highlight right">
                            <p>@Model.description</p>
                        </div>
                    </div>
                    <div class="col-lg-12 cp-r animate-box">
                        <p>@Html.Raw(HttpUtility.HtmlDecode(@Model.detail))</p>
                    </div>
                </div>

            </div>


        </article>
    </div>
</div>

